<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Логи кота - Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-4">
<div class="container">
    <h1>Записи о состоянии кота</h1>
    <p>
        <a href="/logs" class="btn btn-primary">Просмотреть логи</a>
        <a href="/logs/new" class="btn btn-success">Добавить запись</a>
        <a href="/chart-data" class="btn btn-info">График уровня сахара</a>
    </p>
</div>
</body>
</html>